.div{
    margin: 0;
    padding: 0;
}
.main-container-ser{
    width: 100%;
    height: 100vh;
}
.container{
    background-color: white;
    height: 70vh;
    width: 100%;
}
.container-2{
    width: 100%;
    height: 100vh;
    background-color: violet;
}